body {
    background: rgb(221,219,210);
    background: linear-gradient(180deg, rgba(221,219,210,1) 80%, rgba(12,150,136,0.16) 100%); 
    position: relative;
}

/* MY Utility */

.my-container {
    background-color: #fafafa;
    height: calc(100vh - 32px)
}

.my-w-12 {
    width: 12%;
}

.my-row-padding {
    padding: 0;
}

.my-w-20 {
    width: 20%;
}

.my-w-15 {
    width: 64px;
}

.img-user {
    height: 55px;
}

.my-p-margin {
    margin: 0 auto;
}

.nav-icons {
    color: rgb(119, 119, 119);
}

.my-element {
    height: 70px;
    background-color: #cfcfcf;
    width: 100%;
}

.my-flex-shrink {
    flex-shrink: 0;
}


/****************/
.bg-green-bar {
    background-color: #0c9688;
    min-height: 120px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.img-bg {
    background-image: url(../img/mine.jpg);
}

.blue-bg {
    background-color: #8fdaf9;
}

.my-blue {
    color: #8fdaf9;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f2fbff;
}

.link-notifiche {
    color: rgb(87, 87, 87)!important;
}

.input-container {
    position: relative;
    height: 55px;
}

.contact-container {
    height: 100%;
    overflow-y: auto;
}

.send-message-nav {
    height: 70px;
    background-color: #f3eeea;
}