body {
    background: rgb(221,219,210);
    background: linear-gradient(180deg, rgba(221,219,210,1) 80%, rgba(12,150,136,0.16) 100%); 
    position: relative;
}

/* MY Utility */

.my-container {
    background-color: brown;
    height: calc(100vh - 32px)
}

.my-w-12 {
    width: 12%;
}

.my-row-padding {
    padding: 0;
}

.nav-icons {
    color: rgb(119, 119, 119);
}

.my-element {
    height: 70px;
    background-color: #cfcfcf;
    width: 100%;
}


/****************/
.bg-green-bar {
    background-color: #0c9688;
    min-height: 120px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.purple-bg {
    background-color: rgb(140, 20, 220);
}

.blue-bg {
    background-color: #8fdaf9;
}

.my-blue {
    color: #8fdaf9;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f2fbff;
}